/* styles go here */
.input-row {
  display: block;
  margin-bottom: 10px;
}

.input-row:last-child {
  margin-bottom: 0;
}

.field {
  margin-bottom: 20px;
}

.field:last-child {
  margin-bottom: 0;
}
